
@keyframes movWallpaper{
    0%{
        background-position: 100% 0%;
    }

    100%{
        background-position: 100% 100%;
    }




}
@keyframes flip-2-hor-top-1 {
    0% {
      transform: translateY(0) rotateX(0);
      transform-origin: 50% 0%;
    }
    100% {
      transform: translateY(-100%) rotateX(-180deg);
      transform-origin: 50% 100%;
    }
  }